{% load static %}
{% include 'header.html' %}
{% include 'banner.html' %}
        <div id="page">
            <div class="featured-post">
            </div>
            <div id="content">
                <div class="post">
                    <h2 class="title"><a href="#">Home Page</a></h2>
                    <body> this is home page of our institute </body>
                    <div class="entry">
                        
                    </div>
                </div>
                        </div>
            <div id="sidebar">
                <ul>
                    <li>
                        <h2>Social Links</h2>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Linkdin</a></li>
                            <li><a href="#">Gmail</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Google+</a></li>
                        </ul>
                    </li>
                        
                </ul>
            </div>
            
        </div>
    </div>
    {% include 'footer.html' %}
    </body>
    </html>
    